html, body {
	padding: 0;
	margin: 0;
	background-color: #fbfbfb;
}
.page {
	
}





/**/
.form {}
.form__field {
	width: 100%;
	padding: 3px 6px;
	margin: 5px 0;

	box-sizing: border-box;

	border: 1px dashed #cad8ea;
	border-radius: 3px;

	font-size: 12px;
	color: #888;
	
	outline: none;
	resize: none;
}
.form__field:hover {}
.form__field:focus {
	border-style: solid;
}
.form__field::-webkit-input-placeholder {
	color: #ccc;
}
.form__field:-moz-placeholder {
	color: #ccc;
}
.form__field--error {
	border-color: #ff7f66;
	border-style: solid;
	box-shadow: 0px 0px 2px 0px #ff7f66;
}
/**/






/**/
.list-form {
	position: relative;
	width: 200px;

	font-size: 0;
}

.list-form__item-title {
	display: inline-block;
	vertical-align: top;

	width: 70%;
}

.list-form__item-quantuty {
	display: inline-block;
	vertical-align: top;

	width: 25%;
	margin-left: 5%;
}

.list-form__item-details {
	padding: 6px 6px;
}


.list-form__submit {
	position: absolute;
	right: -38px;
    bottom: -19px;

	margin-top: -20px;
	
	height: 40px;
    width: 40px;

	border-radius: 50%;
	background-color: #36c6d3;
	box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
	border: 0;

	text-align: center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	color: #fff;

	outline: none;
	cursor: pointer;
}
.list-form__submit:hover {
	background-color: #e7505a;
}
/**/








/**/
.list {
	width: 280px;
    margin: 22px auto;
    padding: 10px;

	background-color: #fff;
	border-radius: 2px;
    box-shadow: 0px 1px 2px 0px rgba(9, 30, 66, 0.25);
}

.list__item {
	margin: 15px 4px;
    border-bottom: 1px solid #f0f0f0;
    padding: 5px 3px;
}
.list__item strong {
	font-weight: 600;
	font-size: 14px;
	color: #42526E;
}
.list__item span {
	display: inline-block;
	float: right;
    color: #ccc;
    font-size: 12px;
    font-family: 'Tahoma', sans-serif;
    border: 1px dashed #f5f5f5;
    padding: 3px 6px;
}
.list__item div {
	font-weight: 100;
	font-size: 12px;
	line-height: 12px;
	color: #bbb;
}